<section class="filter-bar">
  <section class="filters">
    <a class="gridded" href="#"></a>
    <a class="listed" href="#"></a>
    <%= form_tag "/search", :method => "get", :id => "search" do %>
      <%= text_field_tag :q, params[:q], :placeholder => "Search auctions" %>
      <%= submit_tag "Search", :name => "" %>
    <% end %>
  </section>
</section>

<h1 class="page-header">Browse listings</h1>

<div class="<%= session[:view_as] %> auction title-bar">
  <div class="item_name">Item name</div>
  <div class="retail">Retail price</div>
  <div class="end_time">End time</div>
  <div class="price">Price</div>
  <div class="highest_bidder">Bidder</div>
  <div class="bid_container"></div>
</div>

<% if !@auctions.nil? && @auctions.count > 0 %>
  <% @auctions.each do |auction| %>
    <%= 
    render :partial => 'auction', :locals => { 
      :auction => auction
    } 
    %>
  <% end %>
<% elsif controller.action_name == "search" %>
  <%= "Search didn't return any results" %>
<% else %>
  <%= "No auctions currently running" %>
<% end %>
