<!--<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @auction.id %>
</p>

<p>
  <b>Name:</b>
  <%= @auction.listing.name %>
</p>

<p>
  <b>Price:</b>
  <%= @auction.price %>
</p>

<p>
  <b>Bidder:</b>
  <%= @auction.user.username %>
</p>

<p>
  <b>End time:</b>
  <%= @auction.end_time %>
</p>

<%= link_to 'Edit', edit_auction_path(@auction) %> |
<%= link_to 'Back', auctions_path %>-->

<div class="auction single-item">
  <section class="info">
    <div class="item_name">Generated name</div>
    <div class="retail">$4,000 <span>retail</span></div>
    <p class="item_description">
      The new thrid-generation iPad features a stunning Retina display, 5MP iSight camera, and ultrafast 4G LTE.
      <a href="#">Learn more</a>
    </p>
  </section>
  
  <section class="images">
    <img alt="ipad" src="/assets/listings/ipad-large.png">
    <a href="#" class="view_more">View more images</a>
  </section>
  
  <section class="actions">
  	<div class="price"><span>Auction price</span>$0.00</div>
  	<div class="end_time"><span>Time left</span>00:00:00</div>
  	<div class="highest_bidder"><span>Highest bidder</span>Nobody</div>
  	<div class="bid_container"><input type="button" class="button_bid" value="Bid"></div>
  	<p class="fine_print">Fine printed stuff could go here or something. Blarg blarg blarg blarg</p>
  </section>
</div>
