<!--<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @auction.id %>
</p>

<p>
  <b>Name:</b>
  <%= @auction.listing.name %>
</p>

<p>
  <b>Price:</b>
  <%= @auction.price %>
</p>

<p>
  <b>Bidder:</b>
  <%= @auction.user.username %>
</p>

<p>
  <b>End time:</b>
  <%= @auction.end_time %>
</p>

<%= link_to 'Edit', edit_auction_path(@auction) %> |
<%= link_to 'Back', auctions_path %>-->

<div class="auction single-item">
  <section class="info">
    <div class="item_name">Generated name</div>
    <div class="retail"><%= number_to_currency @auction.listing.retail, :precision => 0 %> <span>retail</span></div>
    <p class="item_description">
      The new third-generation iPad features a stunning Retina display, 5MP iSight camera, and ultrafast 4G LTE.
      <a href="#">Learn more</a>
    </p>
  </section>
  
  <section class="images">
    <img alt="ipad" src="/assets/listings/ipad-large.png">
    <a href="#">View more images</a>
  </section>
  
  <section class="actions" data-id="<%= @auction.id %>">
    <div class="price_container">
      Auction price
      <span class="price"><%= number_to_currency (@auction.price*0.01) %>
    </div>
    <div class="end_time_container">
      Time left
      <span class="end_time" data-end-time="<%= @auction.end_time %>">00:00:00</span>
    </div>
    <div class="highest_bidder_container">
      Highest bidder
      <span class="highest_bidder"><%= link_to @auction.user.username, @auction.user %></span>
    </div>
    <div class="bid_container"><input type="button" class="button_bid" value="Bid"></div>
    <p class="fine_print">Fine printed stuff could go here or something. Blarg blarg blarg blarg</p>
  </section>
</div>