<% if !logged_in? %>
  <%= form_tag login_users_path do %>
    <%= 
    text_field_tag :username, (flash[:username] if flash[:username]), 
      :placeholder => "Username", 
      :class => ("error" if flash[:error] && flash[:error][:field] == "username") 
    %><%=
    password_field_tag :password, "", 
      :placeholder => "Password", 
      :class => ("error" if flash[:error] && flash[:error][:field] == "password")
    %>
    <a href="#">Forgot password?</a>
    <%= submit_tag "Log in" %>
  <% end %>
<% else %>
  <%= form_tag logout_users_path do %>
    <div><%= @current_user.username %></div>
    <div class="user-bids"><%= number_with_delimiter @current_user.bids %> bids</div>
    <%= submit_tag "Log out" %>
  <% end %>
<% end %>