<!doctype html>
<html>
<head>
	<title>Bidding Fee Auctions</title>
	<meta charset="utf-8">
  <%= stylesheet_link_tag "manifest" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<section class="container">
		<header class="sidebar">
  		<div class="logo"></div>
  		<nav class="nav">
  		  <a class="selected" href="#">Home</a>
  		  <a href="#">About</a>
  		  <a href="#">Help</a>
  		</nav>
			<section class="user_functions">
				<!-- Login -->
        <div class="container">
				  <%= render "login_form" %>
				</div>
			</section>
			<div class="user_functions_decor"></div>
  		</header>
  	<section class="filter_bar">
  	  <section class="filters">
  	    <a class="gridded" href="#"></a>
  	    <a class="listed" href="#"></a>
  	    <input type="text" name="search" placeholder="Search auctions">
  	  </section>
  	</section>
		<section class="content">
	    <%= yield %>
		</section>
	</section>
	<%= javascript_include_tag "application" %>
</body>
</html>