<!doctype html>
<html>
<head>
  <title>Bidding Fee Auction</title>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag controller.controller_name %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag "application" %>
</body>
</html>
